<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.GroupProject.reps"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/repsicon"
        android:label="@string/Reps"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".HomeScreenActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.GroupProject.reps.CLEARSCREEN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".CreateWorkoutActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.GroupProject.reps.CREATE_WORKOUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".LibraryActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.GroupProject.reps.OPEN_LIBRARY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".StatsActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.GroupProject.reps.VIEW_STATS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
    </application>

</manifest>
